/* Adicionar aqui toda a estilização criada para sua aplicação. */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

:root{
    --tamanho-header: 80px;
    --tamanho-footer: 90px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

.header{
    height: var(--tamanho-header);
    border-bottom: 2px solid #32b2cd;
}

.titulo{
    color: #32b2cd;
    width: fit-content;
    font-weight: 500; /*grossura da fonte*/
}

.container{
    display: flex;
    width: 80%;
    margin: auto; 
}

.header .container { /*somente o css do container que esteja dentro do header. Os outros containers não são modificados*/
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.navbar{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062
}

.header a{
    text-decoration: none;
    color: #e3b062;
}

.agora{
    font-weight: 800;
}

/*BANNER*/

.banner{
    height: var(--tamanho-banner);
    color: white;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p{
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.banner .container span{
    font-weight: 800;
}

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    text-align: center;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.box img{
    width: 150px;
}

.footer {
    display: flex;
    background-color: #32b9cd;
    height: var(--tamanho-footer);
    color: #ffff;
}

.footer .container {
    justify-content: center;
    text-align: center;
}

.version{
    font-size: 12px;
}

/*TELA DE LOGIN*/

.card-card-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.card-card-login h2{
    color: #d76f92;
}

.card-card-login .formulario{
    display: flex;
    color: #d76f92;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

.formulario input{
    display: flex;
    width: 500px;
    border-radius: 9px;
    border: 2px solid #d76f92;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #32b2cd;
    text-align: center;
    font-weight: 400;
    padding: 8px;
}

#boas-vindas{
    margin: 0;
    font-size: 30px;
}

.botao{
    font-family: 'Barlow', sans-serif;
    background-color: #ef135b;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}


/*TELA DE CADASTRO*/

#banner-cadastro{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-card-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e5e5;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    align-items: center;
    color: #d76f92;
}

.card-card-cadastro .formulario{
    display: flex;
    color: #d76f92;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}


.card-card-cadastro .formulario .campo{
    margin-top: 15px;
}

#codigo_input{
    margin: 0px;
}

#nome_input{
    margin: 0px;
}

#email_input{
    margin: 0px;
}

#senha_input{
    margin: 0px;
}

#confirmacao_senha_input{
    margin: 0px;
}